<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chris.common.mq.mover.mapper.IConnectionFactorySettingMapper">
  <sql id="Base_Column_List">
	factory_name,
	mq_address,
	username,
	`password`,
	virtual_host
</sql>
  <resultMap id="BaseResultMap" type="org.chris.common.mq.mover.domain.dos.ConnectionFactorySetting">
    <!--@mbg.generated-->
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="mq_address" jdbcType="VARCHAR" property="mqAddress" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="virtual_host" jdbcType="VARCHAR" property="virtualHost" />
  </resultMap>
  <insert id="insert" parameterType="org.chris.common.mq.mover.domain.dos.ConnectionFactorySetting">
    <!--@mbg.generated-->
    insert into connection_factory_setting (factory_name, mq_address, username, 
      `password`, virtual_host)
    values (#{factoryName,jdbcType=VARCHAR}, #{mqAddress,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{virtualHost,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.chris.common.mq.mover.domain.dos.ConnectionFactorySetting">
    <!--@mbg.generated-->
    insert into connection_factory_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="mqAddress != null">
        mq_address,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="virtualHost != null">
        virtual_host,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="mqAddress != null">
        #{mqAddress,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="virtualHost != null">
        #{virtualHost,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-06-17-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from connection_factory_setting
    where 1=1
    <if test="factoryName != null">
      and factory_name=#{factoryName,jdbcType=VARCHAR}
    </if>
    <if test="mqAddress != null">
      and mq_address=#{mqAddress,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
      and username=#{username,jdbcType=VARCHAR}
    </if>
    <if test="password != null">
      and `password`=#{password,jdbcType=VARCHAR}
    </if>
    <if test="virtualHost != null">
      and virtual_host=#{virtualHost,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>