<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chris.common.mq.mover.mapper.IMonitorQueueMapper">
  <resultMap id="BaseResultMap" type="org.chris.common.mq.mover.domain.dos.MonitorQueue">
    <!--@mbg.generated-->
    <result column="queue_name" jdbcType="VARCHAR" property="queueName" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="warn_msg_format" jdbcType="VARCHAR" property="warnMsgFormat" />
    <result column="warn_msg" jdbcType="VARCHAR" property="warnMsg" />
    <result column="warn_who" jdbcType="VARCHAR" property="warnWho" />
    <result column="warn_way" jdbcType="VARCHAR" property="warnWay" />
    <result column="warn_threshold" jdbcType="INTEGER" property="warnThreshold" />
  </resultMap>
  <insert id="insert" parameterType="org.chris.common.mq.mover.domain.dos.MonitorQueue">
    <!--@mbg.generated-->
    insert into monitor_queue (queue_name, factory_name, warn_msg_format, 
      warn_msg, warn_who, warn_way, 
      warn_threshold)
    values (#{queueName,jdbcType=VARCHAR}, #{factoryName,jdbcType=VARCHAR}, #{warnMsgFormat,jdbcType=VARCHAR}, 
      #{warnMsg,jdbcType=VARCHAR}, #{warnWho,jdbcType=VARCHAR}, #{warnWay,jdbcType=VARCHAR}, 
      #{warnThreshold,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.chris.common.mq.mover.domain.dos.MonitorQueue">
    <!--@mbg.generated-->
    insert into monitor_queue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="queueName != null">
        queue_name,
      </if>
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="warnMsgFormat != null">
        warn_msg_format,
      </if>
      <if test="warnMsg != null">
        warn_msg,
      </if>
      <if test="warnWho != null">
        warn_who,
      </if>
      <if test="warnWay != null">
        warn_way,
      </if>
      <if test="warnThreshold != null">
        warn_threshold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="queueName != null">
        #{queueName,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="warnMsgFormat != null">
        #{warnMsgFormat,jdbcType=VARCHAR},
      </if>
      <if test="warnMsg != null">
        #{warnMsg,jdbcType=VARCHAR},
      </if>
      <if test="warnWho != null">
        #{warnWho,jdbcType=VARCHAR},
      </if>
      <if test="warnWay != null">
        #{warnWay,jdbcType=VARCHAR},
      </if>
      <if test="warnThreshold != null">
        #{warnThreshold,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    <sql id="Base_Column_List">
  queue_name,
  factory_name,
  warn_msg_format,
  warn_msg,
  warn_who,
  warn_way,
  warn_threshold
</sql>

<!--auto generated by MybatisCodeHelper on 2019-06-18-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from monitor_queue
    where 1=1
    <if test="queueName != null">
      and queue_name=#{queueName,jdbcType=VARCHAR}
    </if>
    <if test="factoryName != null">
      and factory_name=#{factoryName,jdbcType=VARCHAR}
    </if>
    <if test="warnMsgFormat != null">
      and warn_msg_format=#{warnMsgFormat,jdbcType=VARCHAR}
    </if>
    <if test="warnMsg != null">
      and warn_msg=#{warnMsg,jdbcType=VARCHAR}
    </if>
    <if test="warnWho != null">
      and warn_who=#{warnWho,jdbcType=VARCHAR}
    </if>
    <if test="warnWay != null">
      and warn_way=#{warnWay,jdbcType=VARCHAR}
    </if>
    <if test="warnThreshold != null">
      and warn_threshold=#{warnThreshold,jdbcType=INTEGER}
    </if>
  </select>

</mapper>